/**
 *  Here is some normal tag styling
 */
body {
  font-family: "Courier New", Courier, monospace;
  margin: 2em 2em 1em 2em;
  background-color: #c5c5c5; }

header, footer {
  text-align: center; }

section {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1fr 1fr; }

article {
  padding: 1em;
  margin: 1em;
  background-color: #d9ddf3; }

h3 {
  margin: 0; }

/**
 * Specific Styles
 */
.highlighted {
  border: 2px solid #333333;
  background-color: #8be69a !important;
  transition: all 0.1s ease-in-out; }

.description button, .examples button {
  display: block; }

.description div, .examples div {
  background-color: #fafafa;
  padding: 4px; }

.description *, .examples * {
  margin: 8px 4px;
  padding: 2px;
  border-radius: 10px; }

.description ul, .examples ul {
  background-color: #fafafa; }

.effects div {
  height: 75px; }

#hoversection, #clicksection {
  background-color: #c5c5c5;
  padding: 15px; }

#animateeffectdiv {
  position: relative; }
