$text-font: "Courier New", Courier, monospace;
$heading-font: "Verdana, Geneva, sans-serif";

$background-1-color: #fafafa;
$background-2-color: #d9ddf3;
$background-3-color: #c5c5c5;
$highlight-color: #3df35b;
$highlight-background: #8be69a;

/**
 *  Here is some normal tag styling
 */
body {
  font-family: $text-font;
  margin: 2em 2em 1em 2em;
  background-color: $background-3-color
}
header, footer {
  text-align: center;
  // font-family: $heading-font;
}
section {
  background-color: $background-1-color;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
article {
  padding: 1em;
  margin: 1em;
  background-color: $background-2-color;
}
h3 {
  margin: 0;
}

/**
 * Specific Styles
 */
.highlighted {
  border: 2px solid #333333;
  background-color: $highlight-background !important;
  transition: all 0.1s ease-in-out;
}
.bluebackground {
  background-color: blue !important;
}
.clonediv {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: $highlight-background !important;
}
.description, .examples{
  & button {
    display: block;
    box-shadow: 1px 1px #333333;
  }
  & div {
    background-color: $background-1-color;
    padding: 4px;
  }
  & * {
    margin: 8px 4px;
    padding: 2px;
    // background-color: $background-1-color;
    border-radius: 10px;
  }
  & ul {
    background-color: $background-1-color;
  }
  & span {
    font-weight: 700;
  }
}
.effects {
  & div {
    height: 75px;
  }
}

#hoversection, #clicksection {
  background-color: $background-3-color;
  padding: 15px;
}
#animateeffectdiv {
  position: relative;
}
#csstextexample {
  background-color: peachpuff;
  border: 15px solid #333333;
  padding: 10px;
  position: relative;
  left: 20px;
  top: 20px;
}
#appenddiv {
  width: 150px;
  height: 50px;
  background-color: $highlight-background !important;
}
