$text-font: "Courier New", Courier, monospace;
$heading-font: "Verdana, Geneva, sans-serif";

$background-1-color: #fafafa;
$background-2-color: #d9ddf3;
$background-3-color: #c5c5c5;
$highlight-color: #3df35b;

body {
  font-family: $text-font;
  margin: 2em 2em 1em 2em;
  background-color: $background-3-color
}
header, footer {
  text-align: center;
  font-family: $heading-font;
}
section {
  background-color: $background-1-color;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
article {
  padding: 1em;
  margin: 1em;
  background-color: $background-2-color;
}
h3 {
  margin: 0;
}
.highlighted {
  border: 3px solid $highlight-color;
}
.selectors, .selectors-buttons {
  & button {
    display: block;
  }
  & * {
    margin: 8px 4px;
    padding: 2px;
    background-color: $background-1-color;
    border-radius: 8px;
  }
}

.events, .events-examples {
  & div {
    background-color: $background-1-color;
    padding: 4px;
  }
  & * {
    border-radius: 8px;
    margin: 8px 4px;
  }
}
#hoversection, #clicksection {
  background-color: $background-3-color;
  padding: 15px;
}